@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700);
@import url(https://fonts.googleapis.com/css?family=Bitter:400,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);














body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn {
  border-radius: 1.6em;
}
.mbr-subscribe .btn {
  border-radius: 1.6em !important;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #f3c649 !important;
}
.bg-success {
  background-color: #194de9 !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #b8312f !important;
}
.bg-danger {
  background-color: #7c706b !important;
}
.btn-primary {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-secondary {
  background-color: #0b33ac;
  border-color: #0b33ac;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #061e64;
  border-color: #061e64;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #061e64 !important;
  border-color: #061e64 !important;
}
.btn-info {
  background-color: #000000;
  border-color: #000000;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success {
  background-color: #194de9;
  border-color: #194de9;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #1035a6;
  border-color: #1035a6;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #1035a6 !important;
  border-color: #1035a6 !important;
}
.btn-warning {
  background-color: #b8312f;
  border-color: #b8312f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #7b211f;
  border-color: #7b211f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #7b211f !important;
  border-color: #7b211f !important;
}
.btn-danger {
  background-color: #7c706b;
  border-color: #7c706b;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #534b48;
  border-color: #534b48;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #534b48 !important;
  border-color: #534b48 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #05174c;
  color: #05174c;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #0b33ac;
  border-color: #0b33ac;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #0b33ac !important;
  border-color: #0b33ac !important;
}
.btn-info-outline {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline {
  background: none;
  border-color: #0e2e8e;
  color: #0e2e8e;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #194de9;
  border-color: #194de9;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #194de9 !important;
  border-color: #194de9 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #671b1a;
  color: #671b1a;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #b8312f;
  border-color: #b8312f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #b8312f !important;
  border-color: #b8312f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #453f3c;
  color: #453f3c;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #7c706b;
  border-color: #7c706b;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #7c706b !important;
  border-color: #7c706b !important;
}
.text-primary {
  color: #f3c649 !important;
}
.text-success {
  color: #194de9 !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #b8312f !important;
}
.text-danger {
  color: #7c706b !important;
}
.alert-success {
  background-color: #194de9;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #b8312f;
}
.alert-danger {
  background-color: #7c706b;
}
.btn-social {
  border-color: #f3c649;
}
.btn-social:hover {
  background: #f3c649;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #f3c649;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #f3c649;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f3c649;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f3c649;
}
.lead a,
.lead a:hover {
  color: #f3c649;
}
.lead blockquote {
  border-color: #f3c649;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #d3ddfb;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #e08886;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #b9b1ae;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #f3c649;
}
#msg-box5-1 H3 {
  text-align: left;
  color: #fac51c;
  font-size: 25px;
  font-family: 'Droid Serif', serif;
}
#msg-box5-1 P {
  color: #ffffff;
  font-size: 17px;
  text-align: left;
  font-family: 'Bitter', serif;
}
#footer1-2 P {
  font-size: 16px;
  color: #ffffff;
}
#menu-4 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4 .navbar-caption {
  color: #ffffff;
  font-size: 17px;
}
#menu-4 .navbar-toggler {
  color: #000000;
}
#menu-4 .close-icon::before,
#menu-4 .close-icon::after {
  background-color: #000000;
}
#menu-4 .link,
#menu-4 .dropdown-item {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#menu-4 .link {
  font-size: 0.75rem;
}
#menu-4 .dropdown-item,
#menu-4 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4 .link:hover,
#menu-4 .dropdown-item:hover,
#menu-4 .link:focus,
#menu-4 .dropdown-item:focus {
  color: #f3c649;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-menu {
  background: #f99a0e;
}
#menu-4 .nav-dropdown-sm .link:focus,
#menu-4 .nav-dropdown-sm .link:hover,
#menu-4 .nav-dropdown-sm .dropdown-item:focus,
#menu-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #faa931!important;
}
#menu-4 .navbar,
#menu-4 .nav-dropdown-sm,
#menu-4 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4 .nav-dropdown-sm .dropdown-menu {
  background: #faaf40;
}
#menu-4 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4 .bg-color.transparent.opened .link:hover,
#menu-4 .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
#menu-4 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
#features1-0 .striped .mbr-cards-col:nth-child(2n+1) {
  background-color: #efefef;
}
#features1-0 .mbr-cards-col:nth-child(even) .card-text {
  color: #000000;
  text-align: left;
  font-family: 'Lora', serif;
}
#features1-0 .mbr-cards-col:nth-child(even) .card-title {
  color: #000000;
  font-family: 'Droid Sans', sans-serif;
  font-size: 18px;
}
#features1-0 .mbr-cards-col:nth-child(odd) .card-text {
  color: #ffffff;
  text-align: left;
  font-family: 'Lora', serif;
}
#features1-0 .mbr-cards-col:nth-child(odd) .card-title {
  color: #000000;
  font-size: 18px;
  font-family: 'Droid Sans', sans-serif;
}
#features1-0 .mbr-cards-col:nth-child(odd) .card-text SPAN {
  text-align: left;
}
#features1-0 .btn {
  font-family: 'Lora', serif;
}
#features1-0 SPAN {
  font-size: 12px;
}
#header3-i .mbr-section-title,
#header3-i .mbr-section-subtitle {
  text-align: center;
}
#header3-i H3 {
  font-family: 'Droid Serif', serif;
  color: #ffffff;
}
#header3-i .mbr-section-title {
  color: #000000;
}
#instagram-feed-block-4o .inst__title {
  font-size: 20px;
  text-align: center;
}
#form2-4n .mbr-section-title {
  color: #fff;
  font-size: 20px;
}
#form2-4n .mbr-section-subtitle {
  color: #a0a0a0;
}
#social-buttons4-15 .mbr-section-title,
#social-buttons4-15 .btn-social {
  color: #fff;
}
#social-buttons4-15 .mbr-section-title {
  font-size: 18px;
  color: #000000;
}
#form1-4k .form-control-label {
  color: #232323;
}
#form1-4k .btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}
#form1-4k .mbr-section-title {
  font-size: 36px;
}
#form1-4k SMALL {
  font-size: 20px;
  color: #b8312f;
}


#content1-1w P {
  color: #efefef;
  text-align: left;
  font-size: 17px;
}
#menu-1s .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1s .navbar-caption {
  color: #ffffff;
  font-size: 17px;
}
#menu-1s .navbar-toggler {
  color: #ffffff;
}
#menu-1s .close-icon::before,
#menu-1s .close-icon::after {
  background-color: #ffffff;
}
#menu-1s .link,
#menu-1s .dropdown-item {
  color: #ffffff;
  font-family: 'Droid Sans', sans-serif;
}
#menu-1s .link {
  font-size: 0.8rem;
}
#menu-1s .dropdown-item,
#menu-1s .nav-dropdown-sm .link {
  font-size: 0.866rem;
}
#menu-1s .link:hover,
#menu-1s .dropdown-item:hover,
#menu-1s .link:focus,
#menu-1s .dropdown-item:focus {
  color: #f3c649;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-menu {
  background: #000000;
}
#menu-1s .nav-dropdown-sm .link:focus,
#menu-1s .nav-dropdown-sm .link:hover,
#menu-1s .nav-dropdown-sm .dropdown-item:focus,
#menu-1s .nav-dropdown-sm .dropdown-item:hover {
  background: #000000!important;
}
#menu-1s .navbar,
#menu-1s .nav-dropdown-sm,
#menu-1s .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1s .nav-dropdown-sm .dropdown-menu {
  background: #000000;
}
#menu-1s .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#menu-1s .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1s .bg-color.transparent.opened .link:hover,
#menu-1s .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#menu-1s .link[aria-expanded="true"],
#menu-1s .dropdown-item[aria-expanded="true"] {
  color: #c0a375!important;
}
#menu-1s .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
#features3-1v H4 {
  color: #cccccc;
}
#social-buttons4-4d .mbr-section-title,
#social-buttons4-4d .btn-social {
  color: #fff;
}
#social-buttons4-4d .mbr-section-title {
  font-size: 18px;
}
#footer1-1t P {
  font-size: 16px;
  color: #ffffff;
}


#header3-22 .mbr-section-title,
#header3-22 .mbr-section-subtitle {
  text-align: center;
}
#header3-22 H3 {
  font-size: 25px;
  color: #efefef;
}
#header3-22 SMALL {
  text-align: right;
  font-size: 19px;
  color: #f7da64;
}
#menu-1x .hide-buttons .nav-btn {
  display: none !important;
}
#menu-1x .navbar-caption {
  color: #ffffff;
  font-size: 17px;
}
#menu-1x .navbar-toggler {
  color: #000000;
}
#menu-1x .close-icon::before,
#menu-1x .close-icon::after {
  background-color: #000000;
}
#menu-1x .link,
#menu-1x .dropdown-item {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#menu-1x .link {
  font-size: 0.75rem;
}
#menu-1x .dropdown-item,
#menu-1x .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-1x .link:hover,
#menu-1x .dropdown-item:hover,
#menu-1x .link:focus,
#menu-1x .dropdown-item:focus {
  color: #f3c649;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-menu {
  background: #f99a0e;
}
#menu-1x .nav-dropdown-sm .link:focus,
#menu-1x .nav-dropdown-sm .link:hover,
#menu-1x .nav-dropdown-sm .dropdown-item:focus,
#menu-1x .nav-dropdown-sm .dropdown-item:hover {
  background: #faa931!important;
}
#menu-1x .navbar,
#menu-1x .nav-dropdown-sm,
#menu-1x .nav-dropdown-sm .link[aria-expanded="true"],
#menu-1x .nav-dropdown-sm .dropdown-menu {
  background: #faaf40;
}
#menu-1x .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-1x .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-1x .bg-color.transparent.opened .link:hover,
#menu-1x .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#menu-1x .link[aria-expanded="true"],
#menu-1x .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
#menu-1x .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
#image2-2a DIV {
  color: #ffffff;
}
#social-buttons4-4g .mbr-section-title,
#social-buttons4-4g .btn-social {
  color: #fff;
}
#social-buttons4-4g .mbr-section-title {
  font-size: 18px;
}
#footer1-1y P {
  font-size: 16px;
  color: #ffffff;
}


#footer1-2v P {
  font-size: 16px;
  color: #ffffff;
}
#menu-2w .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2w .navbar-caption {
  color: #ffffff;
  font-size: 17px;
}
#menu-2w .navbar-toggler {
  color: #000000;
}
#menu-2w .close-icon::before,
#menu-2w .close-icon::after {
  background-color: #000000;
}
#menu-2w .link,
#menu-2w .dropdown-item {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#menu-2w .link {
  font-size: 0.75rem;
}
#menu-2w .dropdown-item,
#menu-2w .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2w .link:hover,
#menu-2w .dropdown-item:hover,
#menu-2w .link:focus,
#menu-2w .dropdown-item:focus {
  color: #f3c649;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-menu {
  background: #f99a0e;
}
#menu-2w .nav-dropdown-sm .link:focus,
#menu-2w .nav-dropdown-sm .link:hover,
#menu-2w .nav-dropdown-sm .dropdown-item:focus,
#menu-2w .nav-dropdown-sm .dropdown-item:hover {
  background: #faa931!important;
}
#menu-2w .navbar,
#menu-2w .nav-dropdown-sm,
#menu-2w .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2w .nav-dropdown-sm .dropdown-menu {
  background: #faaf40;
}
#menu-2w .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2w .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2w .bg-color.transparent.opened .link:hover,
#menu-2w .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#menu-2w .link[aria-expanded="true"],
#menu-2w .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
#menu-2w .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
#header3-2z .mbr-section-title,
#header3-2z .mbr-section-subtitle {
  text-align: center;
}
#header3-2z H3 {
  color: #ffffff;
}
#header3-2z SMALL {
  color: #f7da64;
}
#header3-36 .mbr-section-title,
#header3-36 .mbr-section-subtitle {
  text-align: center;
}
#header3-36 SMALL {
  color: #000000;
}
#social-buttons4-4h .mbr-section-title,
#social-buttons4-4h .btn-social {
  color: #fff;
}
#social-buttons4-4h .mbr-section-title {
  font-size: 18px;
}




#content1-1m P {
  color: #efefef;
  font-family: 'Roboto', sans-serif;
}
#image2-r DIV {
  color: #000000;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}
#menu-4 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-4 .navbar-caption {
  color: #ffffff;
  font-size: 17px;
}
#menu-4 .navbar-toggler {
  color: #000000;
}
#menu-4 .close-icon::before,
#menu-4 .close-icon::after {
  background-color: #000000;
}
#menu-4 .link,
#menu-4 .dropdown-item {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#menu-4 .link {
  font-size: 0.75rem;
}
#menu-4 .dropdown-item,
#menu-4 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-4 .link:hover,
#menu-4 .dropdown-item:hover,
#menu-4 .link:focus,
#menu-4 .dropdown-item:focus {
  color: #f3c649;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-menu {
  background: #f99a0e;
}
#menu-4 .nav-dropdown-sm .link:focus,
#menu-4 .nav-dropdown-sm .link:hover,
#menu-4 .nav-dropdown-sm .dropdown-item:focus,
#menu-4 .nav-dropdown-sm .dropdown-item:hover {
  background: #faa931!important;
}
#menu-4 .navbar,
#menu-4 .nav-dropdown-sm,
#menu-4 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-4 .nav-dropdown-sm .dropdown-menu {
  background: #faaf40;
}
#menu-4 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-4 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-4 .bg-color.transparent.opened .link:hover,
#menu-4 .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#menu-4 .link[aria-expanded="true"],
#menu-4 .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
#menu-4 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
#footer1-2 P {
  font-size: 16px;
  color: #ffffff;
}
#social-buttons4-1r .mbr-section-title,
#social-buttons4-1r .btn-social {
  color: #fff;
}
#social-buttons4-1r .mbr-section-title {
  font-size: 18px;
}


#header3-2u .mbr-section-title,
#header3-2u .mbr-section-subtitle {
  text-align: center;
}
#header3-2u SMALL {
  color: #f7da64;
}
#header3-2u H3 {
  color: #ffffff;
  text-align: right;
  font-size: 46px;
}
#menu-2b .hide-buttons .nav-btn {
  display: none !important;
}
#menu-2b .navbar-caption {
  color: #ffffff;
  font-size: 17px;
}
#menu-2b .navbar-toggler {
  color: #000000;
}
#menu-2b .close-icon::before,
#menu-2b .close-icon::after {
  background-color: #000000;
}
#menu-2b .link,
#menu-2b .dropdown-item {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#menu-2b .link {
  font-size: 0.75rem;
}
#menu-2b .dropdown-item,
#menu-2b .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-2b .link:hover,
#menu-2b .dropdown-item:hover,
#menu-2b .link:focus,
#menu-2b .dropdown-item:focus {
  color: #f3c649;
}
#menu-2b .link[aria-expanded="true"],
#menu-2b .dropdown-menu {
  background: #f99a0e;
}
#menu-2b .nav-dropdown-sm .link:focus,
#menu-2b .nav-dropdown-sm .link:hover,
#menu-2b .nav-dropdown-sm .dropdown-item:focus,
#menu-2b .nav-dropdown-sm .dropdown-item:hover {
  background: #faa931!important;
}
#menu-2b .navbar,
#menu-2b .nav-dropdown-sm,
#menu-2b .nav-dropdown-sm .link[aria-expanded="true"],
#menu-2b .nav-dropdown-sm .dropdown-menu {
  background: #faaf40;
}
#menu-2b .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-2b .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-2b .bg-color.transparent.opened .link:hover,
#menu-2b .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#menu-2b .link[aria-expanded="true"],
#menu-2b .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
#menu-2b .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
#image2-30 DIV {
  color: #000000;
}
#social-buttons4-4c .mbr-section-title,
#social-buttons4-4c .btn-social {
  color: #fff;
}
#social-buttons4-4c .mbr-section-title {
  font-size: 18px;
}
#footer1-2c P {
  font-size: 16px;
  color: #ffffff;
}


#menu-3y .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3y .navbar-caption {
  color: #ffffff;
  font-size: 17px;
}
#menu-3y .navbar-toggler {
  color: #000000;
}
#menu-3y .close-icon::before,
#menu-3y .close-icon::after {
  background-color: #000000;
}
#menu-3y .link,
#menu-3y .dropdown-item {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#menu-3y .link {
  font-size: 0.75rem;
}
#menu-3y .dropdown-item,
#menu-3y .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3y .link:hover,
#menu-3y .dropdown-item:hover,
#menu-3y .link:focus,
#menu-3y .dropdown-item:focus {
  color: #f3c649;
}
#menu-3y .link[aria-expanded="true"],
#menu-3y .dropdown-menu {
  background: #f99a0e;
}
#menu-3y .nav-dropdown-sm .link:focus,
#menu-3y .nav-dropdown-sm .link:hover,
#menu-3y .nav-dropdown-sm .dropdown-item:focus,
#menu-3y .nav-dropdown-sm .dropdown-item:hover {
  background: #faa931!important;
}
#menu-3y .navbar,
#menu-3y .nav-dropdown-sm,
#menu-3y .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3y .nav-dropdown-sm .dropdown-menu {
  background: #faaf40;
}
#menu-3y .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-3y .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3y .bg-color.transparent.opened .link:hover,
#menu-3y .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#menu-3y .link[aria-expanded="true"],
#menu-3y .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
#menu-3y .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
#features3-3z H4 {
  color: #cccccc;
}
#social-buttons4-4e .mbr-section-title,
#social-buttons4-4e .btn-social {
  color: #fff;
}
#social-buttons4-4e .mbr-section-title {
  font-size: 18px;
}
#footer1-40 P {
  font-size: 16px;
  color: #ffffff;
}


#menu-3u .hide-buttons .nav-btn {
  display: none !important;
}
#menu-3u .navbar-caption {
  color: #ffffff;
  font-size: 17px;
}
#menu-3u .navbar-toggler {
  color: #000000;
}
#menu-3u .close-icon::before,
#menu-3u .close-icon::after {
  background-color: #000000;
}
#menu-3u .link,
#menu-3u .dropdown-item {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#menu-3u .link {
  font-size: 0.75rem;
}
#menu-3u .dropdown-item,
#menu-3u .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-3u .link:hover,
#menu-3u .dropdown-item:hover,
#menu-3u .link:focus,
#menu-3u .dropdown-item:focus {
  color: #f3c649;
}
#menu-3u .link[aria-expanded="true"],
#menu-3u .dropdown-menu {
  background: #f99a0e;
}
#menu-3u .nav-dropdown-sm .link:focus,
#menu-3u .nav-dropdown-sm .link:hover,
#menu-3u .nav-dropdown-sm .dropdown-item:focus,
#menu-3u .nav-dropdown-sm .dropdown-item:hover {
  background: #faa931!important;
}
#menu-3u .navbar,
#menu-3u .nav-dropdown-sm,
#menu-3u .nav-dropdown-sm .link[aria-expanded="true"],
#menu-3u .nav-dropdown-sm .dropdown-menu {
  background: #faaf40;
}
#menu-3u .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-3u .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-3u .bg-color.transparent.opened .link:hover,
#menu-3u .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#menu-3u .link[aria-expanded="true"],
#menu-3u .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
#menu-3u .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
#features3-3v H4 {
  color: #cccccc;
}
#social-buttons4-4f .mbr-section-title,
#social-buttons4-4f .btn-social {
  color: #fff;
}
#social-buttons4-4f .mbr-section-title {
  font-size: 18px;
}
#footer1-3w P {
  font-size: 16px;
  color: #ffffff;
}


#footer1-47 P {
  font-size: 16px;
  color: #ffffff;
}
#menu-48 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-48 .navbar-caption {
  color: #ffffff;
  font-size: 17px;
}
#menu-48 .navbar-toggler {
  color: #000000;
}
#menu-48 .close-icon::before,
#menu-48 .close-icon::after {
  background-color: #000000;
}
#menu-48 .link,
#menu-48 .dropdown-item {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#menu-48 .link {
  font-size: 0.75rem;
}
#menu-48 .dropdown-item,
#menu-48 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-48 .link:hover,
#menu-48 .dropdown-item:hover,
#menu-48 .link:focus,
#menu-48 .dropdown-item:focus {
  color: #f3c649;
}
#menu-48 .link[aria-expanded="true"],
#menu-48 .dropdown-menu {
  background: #f99a0e;
}
#menu-48 .nav-dropdown-sm .link:focus,
#menu-48 .nav-dropdown-sm .link:hover,
#menu-48 .nav-dropdown-sm .dropdown-item:focus,
#menu-48 .nav-dropdown-sm .dropdown-item:hover {
  background: #faa931!important;
}
#menu-48 .navbar,
#menu-48 .nav-dropdown-sm,
#menu-48 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-48 .nav-dropdown-sm .dropdown-menu {
  background: #faaf40;
}
#menu-48 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-48 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-48 .bg-color.transparent.opened .link:hover,
#menu-48 .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#menu-48 .link[aria-expanded="true"],
#menu-48 .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
#menu-48 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
#header3-49 .mbr-section-title,
#header3-49 .mbr-section-subtitle {
  text-align: center;
}
#header3-49 H3 {
  color: #ffffff;
}
#header3-49 SMALL {
  color: #f7da64;
}
#header3-4b .mbr-section-title,
#header3-4b .mbr-section-subtitle {
  text-align: center;
}
#header3-4b SMALL {
  color: #000000;
}
#header3-4b H3 {
  color: #b8312f;
  font-size: 32px;
}
#social-buttons4-4i .mbr-section-title,
#social-buttons4-4i .btn-social {
  color: #fff;
}
#social-buttons4-4i .mbr-section-title {
  font-size: 18px;
}


#footer1-32 P {
  font-size: 16px;
  color: #ffffff;
}
#menu-33 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-33 .navbar-caption {
  color: #ffffff;
  font-size: 17px;
}
#menu-33 .navbar-toggler {
  color: #000000;
}
#menu-33 .close-icon::before,
#menu-33 .close-icon::after {
  background-color: #000000;
}
#menu-33 .link,
#menu-33 .dropdown-item {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#menu-33 .link {
  font-size: 0.75rem;
}
#menu-33 .dropdown-item,
#menu-33 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-33 .link:hover,
#menu-33 .dropdown-item:hover,
#menu-33 .link:focus,
#menu-33 .dropdown-item:focus {
  color: #f3c649;
}
#menu-33 .link[aria-expanded="true"],
#menu-33 .dropdown-menu {
  background: #f99a0e;
}
#menu-33 .nav-dropdown-sm .link:focus,
#menu-33 .nav-dropdown-sm .link:hover,
#menu-33 .nav-dropdown-sm .dropdown-item:focus,
#menu-33 .nav-dropdown-sm .dropdown-item:hover {
  background: #faa931!important;
}
#menu-33 .navbar,
#menu-33 .nav-dropdown-sm,
#menu-33 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-33 .nav-dropdown-sm .dropdown-menu {
  background: #faaf40;
}
#menu-33 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-33 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-33 .bg-color.transparent.opened .link:hover,
#menu-33 .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#menu-33 .link[aria-expanded="true"],
#menu-33 .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
#menu-33 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
#msg-box5-3m H3 {
  font-size: 36px;
  color: #ffffff;
}
#msg-box5-3m P {
  color: #ffffff;
  font-size: 20px;
}
#msg-box5-3m SPAN {
  color: #fac51c;
}
#social-buttons4-42 .mbr-section-title,
#social-buttons4-42 .btn-social {
  color: #fff;
}
#social-buttons4-42 .mbr-section-title {
  font-size: 25px;
}


#header3-37 .mbr-section-title,
#header3-37 .mbr-section-subtitle {
  text-align: center;
}
#header3-37 H3 {
  color: #ffffff;
}
#content1-38 P {
  color: #ffffff;
}
#footer1-34 P {
  font-size: 16px;
  color: #ffffff;
}
#menu-35 .hide-buttons .nav-btn {
  display: none !important;
}
#menu-35 .navbar-caption {
  color: #ffffff;
  font-size: 17px;
}
#menu-35 .navbar-toggler {
  color: #000000;
}
#menu-35 .close-icon::before,
#menu-35 .close-icon::after {
  background-color: #000000;
}
#menu-35 .link,
#menu-35 .dropdown-item {
  color: #000000;
  font-family: 'Oswald', sans-serif;
}
#menu-35 .link {
  font-size: 0.75rem;
}
#menu-35 .dropdown-item,
#menu-35 .nav-dropdown-sm .link {
  font-size: 0.812rem;
}
#menu-35 .link:hover,
#menu-35 .dropdown-item:hover,
#menu-35 .link:focus,
#menu-35 .dropdown-item:focus {
  color: #f3c649;
}
#menu-35 .link[aria-expanded="true"],
#menu-35 .dropdown-menu {
  background: #f99a0e;
}
#menu-35 .nav-dropdown-sm .link:focus,
#menu-35 .nav-dropdown-sm .link:hover,
#menu-35 .nav-dropdown-sm .dropdown-item:focus,
#menu-35 .nav-dropdown-sm .dropdown-item:hover {
  background: #faa931!important;
}
#menu-35 .navbar,
#menu-35 .nav-dropdown-sm,
#menu-35 .nav-dropdown-sm .link[aria-expanded="true"],
#menu-35 .nav-dropdown-sm .dropdown-menu {
  background: #faaf40;
}
#menu-35 .bg-color.transparent .link {
  color: #000000;
  transition: none;
}
#menu-35 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#menu-35 .bg-color.transparent.opened .link:hover,
#menu-35 .bg-color.transparent.opened .link:focus {
  color: #f3c649;
}
#menu-35 .link[aria-expanded="true"],
#menu-35 .dropdown-item[aria-expanded="true"] {
  color: #f3c649!important;
}
#menu-35 .btn {
  font-family: 'Droid Sans', sans-serif;
  font-size: 12px;
}
